@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.About{
    text-align: center;
    align-content: center;
    background-color: #2d5d7c;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.About h4{
    margin: 10px 10px 0 0;
    padding:0 0 0 0;
    color: #f3f0e2;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    display: inline;
}

.aboutText{
    width: 60vw;
    color : #2d5d7c;
    background-color: rgba(242, 239, 226,.5);
    border-radius : 3px;
    float : left;
    margin : 5px 0 0 60px;
    text-align: start;
}
.aboutText h5{
    font-family: 'Permanent Marker', cursive;
    margin : 20px 0 0 60px;
}
.aboutText p{
    width : 90%;
    margin : 10px auto;
    font-family: 'Permanent Marker', cursive;
}
.image{
    width: 30%;
    float : right;
    margin : 40px 50px 0 0
}


@media screen and (max-width: 1024px) {
    .aboutText{
        width : 100vw;
        margin : 0 auto;
        background-color: rgba(242, 239, 226,1);
    }
    .image{
        display: none;
    }
}