@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.About{
    text-align: center;
    align-content: center;
    background-color: #f3f0e2;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.About h4{
    margin: 0;
    color: #2d5d7c;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}

.about{
    width: 45vw;
    margin: 0 auto;
}
.contact{
    margin-top: 20px;
}
.contact a{
    margin-right: 10px;
    margin-left: 10px;
}
@media screen and (max-width: 700px) {
    .about{
        width: 80vw;
    }
}