@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.projectPage{
    background-color: #f3f0e2;
    height: 100vh;
    width: 100vw;
}
#project_title{
    margin: 0;
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(45, 93, 124);
}

.btn{
    width: 50%;
    height: 40px;
    margin:'0';
    background-color: #2e364f;
    color: #ef5939;
    border: 0;

}