@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

i{
    color: #ef5939;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    color: #ef5939;
}
li{
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}

.Link{
    color:#ef5939;
    text-decoration: none;
}

#timesIcon{
    transition: all 1s ease-in-out;
}


.navbar, #navBtn, .navbar:hover, .navbar:active, .navbar:focus{
    border:none !important;
}
button:focus {
    outline: none !important;
}
